@import '../../styles.module.scss';

.container {
   position: fixed;
   width: 57%;
   height: 85%;
   background: var(--white, #fff);
   z-index: 999;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 5px;
   border: 1px solid var(--gray-light, #dadada);
   padding: 60px;
   @include mobile {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding: 60px 20px 0 20px;
      min-width: 100px;
      display: flex;
      flex-direction: column;
   }
}

.xmark {
   position: absolute;
   top: 20px;
   right: 20px;
   cursor: pointer;
}

.job_title_wrapper {
   display: flex;
   align-items: center;
   gap: 20px;
   @include mobile {
      margin-top: 30px;
   }
}

.header_wrapper {
   display: flex;
   flex-direction: column;
   gap: 16px;
   @include mobile {
      gap: 12;
   }
}

.job_title {
   color: #000;
   font-family: Poppins;
   font-size: 28px;
   font-style: normal;
   font-weight: 600;
   line-height: 100%;
}

.company_logo_desktop {
   width: 80px;
   height: 80px;
   @include mobile {
      display: none;
   }
}

.company_logo_mobile {
   position: absolute;
   top: 20px;
   left: 20px;
   width: 40px;
   height: 40px;
   @include desktop {
      display: none;
   }
}

.tech_stack {
   color: var(--gray-dark, #545454);
   font-family: Poppins;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
}

.content_container {
   display: flex;
   gap: 15px;
   width: 100%;
   padding-bottom: 10.5%;
   margin: 20px 0;
   @include mobile {
      flex-direction: column-reverse;
   }
}

.description_wrapper {
   display: block;
   width: 65%;
   padding: 20px;
   background: var(--gray-lightest, #f8f8f8);
   &::-webkit-scrollbar {
      display: none;
   }
   @include mobile {
      display: flex;
      width: 100%;
      flex-direction: column;
   }
}

.description_title {
   display: block;
   color: var(--gray-dark, #545454);
   font-family: Poppins;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: 130%;
   letter-spacing: -0.4px;
   padding: 20px 0;
}

.data_wrapper {
   width: 35%;
   background: white;
   display: flex;
   flex-direction: column;
   gap: 18px;
   &::-webkit-scrollbar {
      display: none;
   }
   @include mobile {
      flex-direction: column-reverse;
      width: 100%;
   }
}

.description_text {
   color: var(--gray-dark, #545454);
   font-family: Poppins;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 170%;
}

.visit_offer_button {
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 250px;
   padding: 10px 0px;
   justify-content: center;
   align-items: center;
   border-radius: 28px;
   background: var(--accent-strong, #552882);
   color: #fff;
   font-family: Poppins;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 100%;
   border: none;
   outline: none;
   cursor: pointer;
   margin: 10px 25px;
   white-space: nowrap;
   @include mobile {
      min-width: 200px;
   }
}

.button_wrapper {
   display: flex;
   justify-content: center;
   flex-grow: 1;
   background: var(--gray-lightest, #f8f8f8);
   a {
      text-decoration: none;
   }
   @include mobile {
      display: flex;
      justify-content: center;
   }
}
