.container {
   color: var(--gray-darkest, #212121);
   text-align: left;
   font-family: Poppins;
   font-size: 27px;
   font-style: normal;
   font-weight: 700;
   line-height: 100%;
   letter-spacing: -1.89px;
   margin-bottom: 40px;
   padding-top: 40px;
}
