.container {
    width: 500px;
}

.title {
    color: var(--gray-darkest, #212121);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; 
    text-align: left;
}

.checkboxes_container {
    display: flex;
    gap: 10px;
}