.list_data {
   background-color: green;
   list-style: none;
   background: var(--gray-lightest, #f8f8f8);
   padding: 30px;
}

.list_element_wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #dadada;
   padding: 20px 0;
}

.list_element_header {
   color: var(--gray-darkest, #212121);
   font-family: Poppins;
   font-size: 12px;
   font-style: normal;
   font-weight: 600;
   line-height: 100%;
}

.data_item {
   color: var(--gray-dark, #545454);
   text-align: right;
   font-family: Poppins;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
}

.data_wrapper {
   display: flex;
   flex-direction: column;
}
.list_element_salary {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0;
}
