@import './styles.module.scss';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   display: flex;
   position: fixed;
   @include mobile {
      flex-direction: column;
   }
}
