@import './styles.module.scss';


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   display: flex;
   @include mobile {
      flex-direction: column;
      position: relative;
   }
}
