@import '../../styles.module.scss';

.container {
   background: var(--gray-lightest, #f8f8f8);
   height: 100vh;
}

.inputs_wrapper {
   display: flex;
   justify-content: space-between;
   width: 100%;
   gap: 20px;
   padding: 40px 40px 24px 40px;
   background: var(--gray-lightest, #f8f8f8);
   @include mobile {
      flex-direction: column;
      padding: 25px 10px 15px 10px;
   }
}
