@import '../FilterSection/FilterSection.module.scss';
@import '../../styles.module.scss';

.slider_container {
   position: relative;
   display: block;
   align-items: center;
   width: 250px;
   @include mobile {
      width: 100%;
    }
}

.slider {
   margin-top: 40px;
   display: block;
   width: 250px;
   height: 4px;
   appearance: none;
   background: rgba(84, 84, 84, 0.2);
   outline: none;
   cursor: pointer;
   &::-webkit-slider-thumb {
      appearance: none;
      width: 9px;
      height: 9px;
      background: #9564d4;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 0 7px white, 0 0 0 8px #9564d4;
   }
   @include mobile {
     width: 100%;
   }
}

.current_value {
   display: block;
   position: absolute;
   bottom: 20px;
   margin-left: 4px;
   left: 7.5px;
   transform: translateX(-50%);
   color: var(--gray-dark, #545454);
   text-align: center;
   font-family: Poppins;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 100%;
}
